/* #nav {
    font-family: 'Roboto Slab', serif;
} */
/* .brand-logo{
    font-family: 'Roboto Slab', serif;
    font-weight: 800;
} */
body.dark-mode {
    color: #ccc!important;
    background: #333333!important;
}
.navbar{
    font-family: 'Roboto Slab', serif;
}

#logo{
   padding-left: 15px;
   padding-top: 15px;
   padding-bottom: 15px;
   padding-right: 15px;
    margin-left: 10px;
    margin-right: 10px;
}
.tools{
    font-family: 'Readex Pro', sans-serif;
}

.popup-img-size{
    display: block;
    width: auto;
    height: 65px;
    padding: 5px 0px;
}

@media (max-width: 419px) {
    .popup-img-size{
        height: 50px;
    }
}


::-webkit-scrollbar{
    width: 12px;
  }
  
  ::-webkit-scrollbar-track{
    background-color: rgba(247, 247, 247, 0.8);
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background: #8070d4;
    border: 6px solid rgba(0, 0, 0, 0.2);
  }

/* .card-title{
background: linear-gradient(109.37deg, rgba(255, 255, 255, 0.4) 12.9%, rgba(255, 255, 255, 0.1) 77.62%);
box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.28);
backdrop-filter: blur(18px);

/* Note: backdrop-filter has minimal browser support */
/* border-radius: 15px; 
}*/
