



.navbar{
	font-family: 'Roboto Slab', serif;
  }



h2{
	color: #00796b;
	text-transform: uppercase;
   	font-family: 'Oswald', sans-serif;
   
}
blockquote{
	border-color: #5d32ac !important;
}


#logo{
	padding-left: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 15px;
	 margin-left: 10px;
	 margin-right: 10px;
 }
