/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */
  /* .main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(255, 255, 255);
  } */

  /* #container {
    background: rgb(7, 67, 102);
    box-shadow: inset -0.5vh -0.5vh 0.7vh rgb(218, 21, 21), inset 0.5vh 0.5vh 0.7vh rgb(255, 253, 253);
    padding: 30px;
    border-radius: 10px;
  } */
  canvas {
    border-radius: none;
    border: solid 1px teal;  
    margin-bottom: 30px;
    background: #b9b9b9;
    cursor: cell;
    width: 100%;
  }


  blockquote{
    border-color: #5d32ac !important;
  }
  /* #editBox {
    width: 650px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #222;
    box-shadow: inset -0.5vh -0.5vh 0.7vh #111, inset 0.5vh 0.5vh 0.7vh #333;
    padding: 10px;
    border-radius: 10px;
  }
   */
  /* #colorBox {
    width: 45%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 50px;
  }

  #colorBox > div {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 5px 0;
    cursor: pointer;
  }
  #colorBox > div:active {
    opacity: 0.6;
  }
   */


  input {
    cursor: pointer;
    width: 80px;
  }

 