
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');



.navbar{
	font-family: 'Roboto Slab', serif;
  }

h2{
	color: #00796b;
	text-transform: uppercase;
   	font-family: 'Oswald', sans-serif;
   
}
blockquote{
	border-color: #5d32ac !important;
}

#logo{
	padding-left: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 15px;
	 margin-left: 10px;
	 margin-right: 10px;
 }

/* .secondary-content {
    float: right;
    color: #a62626 !important;
} */


/* .body{
    height: 100%;
    background-color: #111;
    box-sizing: border-box;
}



.title{
	color: #00796b;
	font-weight: 600;
}

.inputDiv{
	display: flex;
	justify-content: center;
	align-items: center;
}

.input{
    padding: 0.5rem 1rem;
    outline: none;
    border: none;
    height: 50px;
    border-radius: 25px;
    width: 350px;
    margin: 0.25rem;
    transition: .5s;
    font-size: 1.15rem;
}

.add{
	outline: none;
    border: none;
    height: 50px;
    border-radius: 25px;
    width: 50px;
    background-color: lime;
    color: white;
    cursor: pointer;
    transition: .5s;
    margin: 0.25rem;
}

.add:hover{
	opacity: 0.7;
}

.container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 2rem;
}

.item{
	padding: 0.5rem;
	border-bottom: 4px solid #fff;
	margin-bottom: 1.5rem;
}

.item_input{
	background: none;
	outline: none;
	border: none;
	color: #fff;
	font-size: 1.4rem;
	width: 245px;
}

.edit{
	background: none;
	outline: none;
	border: none;
	color: lime;
	font-size: 1.4rem;
	font-family: 'Hind', sans-serif;
	margin: 0 0.5rem;
	cursor: pointer;
}

.remove{
	background: none;
	outline: none;
	border: none;
	color: #E00;
	font-size: 1.4rem;
	font-family: 'Hind', sans-serif;
	cursor: pointer;
} */
