*{
	margin: 0;
}

.navbar{
	font-family: 'Roboto Slab', serif;
  }



h2{
	color: #00796b;
	text-transform: uppercase;
   	font-family: 'Oswald', sans-serif;
   
}
blockquote{
	border-color: #5d32ac !important;
}


#logo{
	padding-left: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 15px;
	 margin-left: 10px;
	 margin-right: 10px;
 }
.qr-code button{
	padding: .5rem;
	position: absolute;
	left: 108%;
	top: 50%;
	margin-top: 1em									;
	background-color: #5d32ac;
	color: white;
}
.image-container{
	margin-left: 100px;
}
.qr-code button:hover{
	border-radius:0 10px 0 10px;
}						